.heroSection {
  background: var(--hero-bg);
}

.heroSection h2 {
  color: var(--primary-color);
  font-size: 2.5rem;
  font-weight: 600;
  margin: 20px 0px;
}

.heroSection p {
  color: var(--primary-color);
  line-height: 28px;
}

.heroSection p:nth-child(1) {
  font-weight: 500;
}

.heroContent {
  padding-top: 45px;
}

.buyBtn {
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  background: var(--primary-color);
  color: white;
  padding: 8px 20px;
  margin-top: 40px;
  font-size: 1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.buyBtn a:hover {
  color: white;
}

.timerCount {
  background: var(--primary-color);
  height: 300px;
}
.timerCount img {
  width: 70% !important;
  height: 70% !important;

  object-fit: contain;
}

.storeBtn {
  background: #fff;
  color: var(--primary-color);
  font-weight: 600;
}

.storeBtn a:hover {
  color: var(--primary-color);
}

@media only screen and (max-width: 992px) {
  .heroContent h2 {
    font-size: 2rem;
  }

  .sectionTitle {
    font-size: 1.7rem;
  }

  .clockTopContent {
    text-align: center;
  }

  .clockTopContent h4 {
    font-size: 0.9rem !important;
  }
  .clockTopContent h3 {
    font-size: 1rem !important;
  }

  .counterImg {
    display: none;
  }

  .countCol {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .heroContent h2 {
    font-size: 1.6rem;
  }

  .heroContent p,
  .buyBtn a {
    font-size: 0.9rem;
  }

  .sectionTitle {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 576px) {
  .heroContent {
    padding: 0;
    margin-bottom: 40px;
  }
}
